# /etc/systemd/system/terraria-server.service
[Unit]
Description=Terraria Server Service

[Service]
Type=forking
User=root
Restart=always
KillMode=none
ExecStart=/usr/bin/screen -dmS terraria /bin/bash -c "/terraria-server/server/start-server.sh"
ExecStop=/usr/bin/screen -S terraria -p 0 -X stuff "exit\n"
StandardOutput=file:/terraria-server/linux-service/systemctl.log
StandardError=file:/terraria-server/linux-service/systemctl.log

[Install]
WantedBy=multi-user.target
